<!doctype html>
<html>
<body>

    <style>
        br {margin-bottom: 20px;}
    </style>

    <form method='POST'>

        <label>type=text
            <input name="user-name" type="text" />
        </label>

        <br>

        <label>type=password
            <input name="user-password" type="password" />
        </label>
        
        <br>

        <label>type=password2
            <input name="user-password" type="password" />
        </label>
        
        <label>type=email
            <input name="user-email" type="email" />
        </label>
        
        <br>

        <label>type=email2
            <input name="user-email" type="email" />
        </label>           
        
  <input type="submit" />
        
    </form>
</body>
</html>